# Dotenv
#
# This file commits safe environment variables for the development environment.
# For managing sensitive values and overrides use `/.env.development.local`
#
# Reference: https://github.com/bkeepers/dotenv#what-other-env-files-can-i-use

# Rollbar for application monitoring
ROLLBAR_ACCESS_TOKEN=ROLLBAR_ACCESS_TOKEN
ROLLBAR_ENV=development

# TODO: Replace `rails-template` with the name of the app.
DATABASE_URL=postgres://postgres@localhost:5432/homes-england-affordable-housing

# Auth0 for authentication
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_DOMAIN=

REDIS_URL=redis://localhost:6379
